@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#4b4ea2),
      to(#e14444)
    )
    no-repeat;
  background: linear-gradient(left, #4b4ea2, #e14444) no-repeat;
  background-size: 140%;
  min-height: 100vh;
  max-width: 90%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

button {
  border: none;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* css header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid white;
  padding: 20px;
  margin: 30px 0;
}

header h1 {
  margin-right: auto;
  font-family: "Permanent Marker", cursive;
}

header input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0 0 0 5px;
}

/* css main page */
main .grid {
  width: 100%;
  height: auto;
  margin: 60px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  -ms-grid-rows: (minmax(19.375vw, 1fr)) [auto-fit];
  grid-template-rows: repeat(auto-fit, minmax(19.375vw, 1fr));
  grid-auto-flow: dense;
  -webkit-column-gap: 43px;
  column-gap: 43px;
  row-gap: 40px;
}

main .grid .card {
  width: 277px;
  height: 370px;
  background-color: #363333;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-radius: 30px;
  margin: auto;
  -webkit-box-shadow: 5px 5px 15px #363333;
  box-shadow: 5px 5px 15px #363333;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

main .grid .card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

main .grid .card .profile-pic-small {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

main .grid .card .profile-pic-small img {
  width: auto;
  height: 100%;
}

main .grid .card h2 {
  font-size: 19px;
  font-weight: 400;
  margin: 25px 0 20px 0;
  font-family: "Permanent Marker", cursive;
}

main .grid .card p {
  display: block;
  height: 32%;
  font-size: 13px;
  width: 100%;
  overflow: hidden;
}

main .grid .card a {
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 10px;
  width: 100px;
  font-size: 12px;
  border-radius: 10px;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
  font-style: italic;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

main .grid .card a:hover {
  color: black;
}

main .grid .card a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform-origin: right;
  transform-origin: right;
  z-index: -1;
}

main .grid .card a:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  transform-origin: left;
}

footer {
  text-align: center;
  padding-bottom: 30px;
}

footer a {
  background-color: #4B7CFB;
  border-radius: 10px;
  padding: 10px 35px;
  text-align: center;
  margin: auto;
}

/* css single char */
.singleChar .card {
  text-align: center;
  background-color: #363333;
  padding: 80px;
  border-radius: 15px;
}

.singleChar h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 45px;
  padding-bottom: 20px;
}

.singleChar small {
  font-style: italic;
  font-size: 12px;
}

.singleChar p {
  text-align: left;
  padding-top: 60px;
  padding-bottom: 120px;
}

.singleChar .buttons {
  font-style: italic;
}

.singleChar a {
  background-color: #4B7CFB;
  border-radius: 10px;
  padding: 10px 15px;
  margin-right: 10px;
}

.singleChar button {
  color: #BF3A30;
  border: 1px solid #BF3A30;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #363333;
  font-style: inherit;
  margin-left: 10px;
}

.profile-pic-big {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

.profile-pic-big img {
  width: auto;
  height: 100%;
}

/* edit + create */
.editChar .card {
  background-color: #363333;
  padding: 80px;
  border-radius: 15px;
}

.editChar img {
  justify-content: center;
}

.editChar input {
  background-color: rgb(177, 177, 177);
  border-radius: 15px;
}

.editChar input[type="text"] {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  width: 70%;
}

.editChar .name input[type="text"] {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
}

.editChar .shortDescription input[type="text"] {
  font-style: italic;
}

.editChar .buttons {
  text-align: center;
}

#deleteCharacter {
  color: #BF3A30;
  border: 1px solid #BF3A30;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #363333;
  font-style: inherit;
  margin-left: 10px;
}

.editChar #editCharacter {
  background-color: #4B7CFB;
  border-radius: 10px;
  padding: 10px 15px;
  margin-right: 10px;
  font-style: inherit;
}

/* css add new char */
main .add-new-character {
  width: 450px;
  height: 25px;
  background-color: #4b7cfb;
  padding: 20px 0px;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px auto;
  border-radius: 10px;
  font-size: 20px;
  -webkit-box-shadow: 3px 3px 5px #363333;
  box-shadow: 3px 3px 5px #363333;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

main .add-new-character:hover {
  background-color: #1b5bff;
}

main #section-view {
  width: 100%;
  background: #363333;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
}

main #section-view #image-container {
  display: inline-block;
  position: relative;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

main #section-view #image-container img {
  width: auto;
  height: 100%;
  z-index: 0;
}

main #section-view #name {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: 40px;
}

main #section-view #short-description {
  margin-top: 35px;
}

main #section-view #description {
  margin-top: 55px;
}

main #section-view #buttons-container a {
  text-decoration: none;
}

main #section-view #buttons-container a:nth-child(1) {
  color: white;
  background-color: #4b7cfb;
}

#preview-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid black;
}

#preview-container::before {
  content: "Preview";
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: -1;
}

#preview-container img {
  width: auto;
  height: 100%;
  z-index: 0;
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  body header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  body header h1 {
    white-space: nowrap;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */