$main-color: #4b4ea2;
$second-color: #a05757;
$contrast-color: #363333;
$btn-color-1: #4b7cfb;
$btn-color-2: #bf3a30;
$nouvelle-variable: #ccc;

//font
$font-name-1: "Roboto", sans-serif;
$font-name-2: "Permanent Marker", sans-serif;

//width
$xl-width: 1400px;
$large-width: 1140px;
$standard-width: 960px;
$small-width: 768px;
$medium-width: 960px;
