.l-footer{
    position: sticky;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100px;
}

.l-footer-button{
    position: sticky;
    width:100px;
    a.btn-link{
        .other-btn-add{
            display: none;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding: 1rem 1.8rem;
        margin: 1.5rem;
    }
}
@media screen and (min-width:768px){
    .l-footer{
        width: 100%;
        margin: 3rem 0;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .l-footer-button{
        text-align: center;
        position: relative;
        width: 50%;
        a.btn-link{
            border-radius: 8px;
            .other-btn-add{
                display: block;
            }
            .mobile-btn-add{
                display: none;
            }
        }
    }
}